body{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: rgb(216, 213, 213);
}
body, html {
  height: 100%;
}
 body,
.header,
.input,
.taskItem,
.taskWindow,
.taskParagraph,
.date{
  display: flex;
  justify-content: center;
}
.taskWindow{
  align-items: center;
}
.root{
 margin-top: 50px;
 width: 800px;
 max-height: 70%;
 background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  box-shadow: 0px 5px 10px 2px rgb(120, 132, 163);
 border-radius: 10px;
 overflow: scroll;
}
.header{
  margin-top: 20px;
  width: 100%;
  height: 65px;
  gap: 50px;
}
.buttonDelAll, 
.buttonAdd,
.input{
 border: 1px solid black;
 border-radius: 5px;
 height: 60px;
 font-family: 'Instrument Serif', serif;
}
.buttonDelAll, 
.buttonAdd{
 background-color: grey;
 color: rgb(182, 182, 182);
 width: 150px;
 font-size: 20px;
}

.buttonDelAll:hover, 
.buttonAdd:hover,
.taskButton:hover,
.taskDelButton:hover{
  background-color: rgb(71, 70, 70);
}
.buttonDelAll:active, 
.buttonAdd:active,
.taskButton:active,
.taskDelButton:active{
  background-color: rgb(35, 35, 35);
}
.taskButton,
.taskDelButton,
.buttonDelAll, 
.buttonAdd{
  transition: 0.1s linear;
  cursor: pointer;
}
.input{
  width: 300px;
  cursor: pointer;
  font-size: 20px;
  color: darkgray;
  border: none;
 
}

::placeholder{
 font-size: 20px;
 text-align: center;
}
.taskItem{
  width: 600px;
  background: none;
  box-shadow: 0px 5px 10px 2px rgb(158, 160, 165);
  border-radius: 10px;
  margin: 20px 0 0 100px;
}
.taskButton,
.taskDelButton{
  width: 40px;
  height: 40px;
  background-color: grey;
  margin-right: 15px;
  border-radius: 10px;
  color: #cecdcd;
  border: 1px solid black;
  font-size: 30px;
}
.taskDiv{
  height: 60px;
  width: 400px;
  border-radius: 5px;
  font-family: 'Instrument Serif', serif;
  font-size: 20px;
  background-color: #fffbfb;
  color: rgb(100, 100, 100);
}
.dateContainer{
  width: 92px;
  display: flex;
  height: 35px;
  color: black;
  background-color: #fff;
  border-radius: 5px;
  margin: 0 0 10px 10px;
}
.taskDelButton{
  margin: 10px 0 40px 70px;
}
.taskButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
time{
  margin-left: 20px;
  color: grey;
}
.checkbox{
  opacity: 0;
}
span{
  display: block;
  position: relative;
  left: 10px;
}
.renderText{
  font-size: 40px;
  margin: 100px 0 0 340px;
  font-family: 'Instrument Serif', serif;
}
